@import "tailwindcss";

@theme {
  --color-orange-600: #ea580c;
  --color-orange-500: #f97316;
}

body {
  background-color: #f8fafc;
  margin: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}